<h1>show user</h1>
<h3><%= user.name %></h3>
  <p><%= user.age %></p>
  <p><%= user.email %></p>
  <p><%= user.gender %></p>
  <p><%= user.looking_for %></p>
  <p><%= user.city %></p>
  <p><%= user.state %></p>

<h3> Interests </h3>
<% interests.each do |interest| %>
<p><%= interest %>
  <% end %>


  <%= link_to 'Back', users_path %>
