<h2> List your Crimes </h2>
<%= form_for @crime do |f| %>
  <%= f.label :crime %>: 
  <%= f.text_field :crime %>

  <%= f.label :sentence %> 
  <%= f.text_field :sentence %>

 <%= f.label :crime %>: 
  <%= f.text_field :crime %>

  <%= f.label :sentence %> 
  <%= f.text_field :sentence %>  

  <%= f.submit %>
<% end %>
